<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond $1 !^(index\.php|js|css|img|flv|swf)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ ./index.php/$1 [L,QSA]
RewriteRule ^(js|css|img)/(.*) /application/public/$1/$2 [L]
</IfModule>